##### 배열의 구조 바꾸기

# 배열의 형태(shape) 변경
- 형태를 바꿀 때 전체 원소의 개수가 바뀔 수 없다.
    - (3,4) (4,3) (2,2,3) ... 이렇게 차원은 바껴도, 원소의 개수가 유지되야함.


## reshape()을 이용한 차원 변경
- `numpy.reshape(a, newshape)` 또는 `ndarray.reshape(newshape)`
    - a: 형태를 변경할 배열
    - newshape : 변경할 형태 설정. 
        - 원소의 개수를 유지하는 shape으로만 변환 가능하다.

In [1]:
import numpy as np

a= np.arange(20)
print(a.shape) # 1차원 배열 (20,)
print(a.size)

(20,)
20

In [7]:
# a - > 2차원 (4,5)
a2 = np.reshape(a, (4,5))
print(a2.shape)
print(a2.size)
a2 # 값은 순서대로 들어감

(4, 5)
20

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [6]:
# a - > 3차원 (2,2,5)
a3 = np.reshape(a, (2,2,5))
print(a3.shape)
print(a3.size)
a3 # 값은 순서대로 들어감

(2, 2, 5)
20

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9]],

       [[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]]])

In [8]:
a4 = a.reshape((2,2,5))
a4.shape, a4.size

((2, 2, 5), 20)

In [9]:
# 튜플로 안 묶어도 됨
a5 = a.reshape(2,2,5)
a5.shape, a5.size

((2, 2, 5), 20)

In [16]:
# 축을 지정할 때 하나의 축의 size를 -1로 줄 수 있다. -1 을 주면 나머지 size를 그 축의 size로 지정한다.
a6 = a.reshape(2,1,-1)
a6.shape, a6.size

((2, 1, 10), 20)

In [19]:
a7 = a6.reshape(20) # 3차원 - > 1차원 배열 (size만 같으면 줄일 수 도 있다.)
a7.shape

(20,)

In [ ]:
# a6의 size와 (2,4) 배열의 size가 다르기 때문에 Exception 발생.

# a.reshape(2,4)

## 차원 늘리기(확장)
- 배열의 size는 동일하고, 차원만을 늘리기 위해서
- dummy 축을 늘린다.
    - size가 1인 축(axis)를 dummy 축
        - (5,) ---**size가 같아야 해서**-- > (5,1) (1,5) 가능 - > 그때 1이 dummy 축.
            - [[1,2,3,4,5]]
            - [[1],[2],[3],[4],[5]]
       - (3,4) - > (앞,3,사이,4,뒤) 앞, 사이, 뒤 중에 dummy 축이 들어갈 수 있다. - > 거의 앞과 뒤에만 넣는다.

### numpy.newaxis 속성을 이용해 차원 늘리기
- size가 1인 rank를 늘릴때 사용한다. 
    - 지정한 axis에 size 1인 축을 추가한다.
- slicing에 사용하거나 indexing에 `...`과 같이 사용한다.
    - slicing의 경우 원하는 위치의 축을 늘릴 수 있다.
    - index에 ...과 사용하는 경우 첫번째나 마지막 축을 늘릴때 사용한다.

In [24]:
x = np.arange(1,6)
print(x.shape)
x

(5,)

array([1, 2, 3, 4, 5])

### newaxis 와 slicing 연산자를 이용해 늘리기. (많이 쓰진 않음)

In [28]:
x2 = x[: , np.newaxis] # :는 1차원은 유지라는 뜻. 그리고 np.newaxis 추가 
print(x2.shape)
x2

(5, 1)

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [27]:
x3 = x[np.newaxis, :]
print(x3.shape)
x3

(1, 5)

array([[1, 2, 3, 4, 5]])

In [29]:
x4 = np.arange(20).reshape(2,2,5)
print(x4.shape)
x4

(2, 2, 5)

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9]],

       [[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]]])

In [33]:
# (2,2,5) - > (1,2,2,5)

x5 = x4[:, np.newaxis]  
# : 자리에 2가 들어오고 그리고 newaxis들어오고 나머지. 
# [:] : - 축별로 순서대로 지정해야 한다.
3x5.shape

(2, 1, 2, 5)

In [31]:
# 앞에 넣기
x5 = x4[np.newaxis, :,:,:]
print(x5.shape)

(1, 2, 2, 5)

In [34]:
# 끝에 넣기
x6 = x4[:,:,:,np.newaxis]
print(x6.shape)

(2, 2, 5, 1)

In [35]:
# 중간에 넣기
x7 = x4[:,:,np.newaxis,:]
print(x7.shape)

(2, 2, 1, 5)

### indexing에 ... 과 같이 사용하여 늘리기
- ndarray[..., np.newaxis]
- 첫번째 축이나 마지막 축을 늘릴때만 사용가능 (중간에 넣는 거 말고)

In [36]:
x4.shape

(2, 2, 5)

In [39]:
# (2,2,5) - > (1,2,2,5) 앞에 더미축을 추가
x8 = x4[np.newaxis, ...]
x8.shape

(1, 2, 2, 5)

In [40]:
# (2,2,5) - > (2,2,5,1) 뒤에 더미축을 추가
x9 = x4[..., np.newaxis]
x9.shape

(2, 2, 5, 1)

### numpy.expand_dims (배열, axis)
- 매개변수로 받은 배열에 지정한 axis의 rank를 확장한다.

In [41]:
x4.shape

(2, 2, 5)

In [45]:
x10 = np.expand_dims(x4, axis=0)
x10.shape

(1, 2, 2, 5)

In [46]:
x11 = np.expand_dims(x4, axis=1)
x11.shape

(2, 1, 2, 5)

In [50]:
x12 = np.expand_dims(x4, axis=2)
x12.shape

(2, 2, 1, 5)

In [51]:
x13 = np.expand_dims(x4, axis=-1) # 뒤에서 첫번째 축. 음수인덱스처럼
x13.shape

(2, 2, 5, 1)

## 차원 줄이기(축소)

### numpy.squeeze(배열, axis=None), 배열객체.squeeze(axis=None)
- 배열에서 지정한 축(axis)을 제거하여 차원(rank)를 줄인다.
- 제거하려는 축의 size는 1이어야 한다.
- 축을 지정하지 않으면 size가 1인 모든 축을 제거한다.
    - (3,1,1,2) => (3,2)

In [53]:
x12.shape

(2, 2, 1, 5)

In [54]:
y = x12.squeeze()
y.shape

(2, 2, 5)

In [55]:
x = np.arange(20).reshape(1,2,1,2,1,5,1)
x.shape

(1, 2, 1, 2, 1, 5, 1)

In [58]:
y2 = x.squeeze(axis = 0)
y2.shape

(2, 1, 2, 1, 5, 1)

In [59]:
y3 = x.squeeze(axis = 2)
y3.shape

(1, 2, 2, 1, 5, 1)

In [62]:
# 1번축은 dummy 축이 아니기 때문에 예외발생. size가 1이 아니다.
# y4 = x.squeeze(axis = 1)
# y4.shape

In [63]:
# 축 지정 안 하면 모든 dummy axis 삭제.
y4 = x.squeeze()
y4.shape

(2, 2, 5)

### 배열객체.flatten()
- 다차원 배열을 1차원으로 만든다.

In [64]:
y5 = y4.flatten()
y5.shape

(20,)

In [65]:
y4

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9]],

       [[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]]])

In [66]:
y5

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [68]:
x11.shape
y6 = x11.flatten()
y6.shape

(20,)

## numpy.append(), numpy.insert(), numpy.delete()
- ### append(배열, 추가할값, axis=None)
    - 배열의 마지막 index에 추가할값을 추가
    - axis : 축 지정
        - None(기본값) : flatten 한 뒤 추가한다.
- ### insert(배열, index, 추가할값, axis=None)
    - 배열의 index에 추가할값을 추가. 
    - axis : 축 지정
        - None(기본값) : flatten 한 뒤 삽입한다.
- ### delete(배열, 삭제할index, axis=None)  
    - 배열의 삭제할index의 값들을 삭제한다.
    - 삭제할 index는 index 또는 slice
    - axis : 축 지정
        - None(기본값) : flatten 한 뒤 삭제한다.

### append()

In [70]:
a = np.arange(3)
print(a.shape)

(3,)

In [72]:
# append() 맨 뒤에 추가
# 원본 변경이 아닌 복사본을 반환
np.append(a, 100)

array([  0,   1,   2, 100])

In [73]:
np.append(a, [200,300,400]) # 동시에 여러개 값을 추가

array([  0,   1,   2, 200, 300, 400])

In [75]:
# 2차원
a2 = np.arange(12).reshape(4,3)
print(a2.shape)
a2

(4, 3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [76]:
# append() 축을 지정. 축을 생략하면 flatten(1차원으로 변환) 후 append 처리한다.
# 추가할 값은 지정한 축의 값과 같은 shape으로 넣어줘야 한다.

In [77]:
# 구조가 1차원으로 
np.append(a2,100)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11, 100])

In [78]:
# 넣읗 형태에 맞춰서 넣어야 함.
# 값이 여러개니 리스트로

np.append(a2,
          [
              [100,200,300],
              [1000,2000,3000]
              
          ]
          , axis = 0)

array([[   0,    1,    2],
       [   3,    4,    5],
       [   6,    7,    8],
       [   9,   10,   11],
       [ 100,  200,  300],
       [1000, 2000, 3000]])

In [81]:
np.append(a2,[[100,200,300]], axis = 0)

array([[  0,   1,   2],
       [  3,   4,   5],
       [  6,   7,   8],
       [  9,  10,  11],
       [100, 200, 300]])

In [79]:
# axis = 2 수직방향으로 넣고 싶다.

np.append(a2,
          [[11],[22],[33],[44]] 
          ,axis=1)

array([[ 0,  1,  2, 11],
       [ 3,  4,  5, 22],
       [ 6,  7,  8, 33],
       [ 9, 10, 11, 44]])

In [83]:
# axis = 2 수직방향으로 넣는데 여러 원소를

np.append(a2,
          [[11,111,1111],[22,222,2222],[33,333,3333],[44,444,4444]] 
          ,axis=1)

array([[   0,    1,    2,   11,  111, 1111],
       [   3,    4,    5,   22,  222, 2222],
       [   6,    7,    8,   33,  333, 3333],
       [   9,   10,   11,   44,  444, 4444]])

In [84]:
## 이렇게 하면 더 간단히 넣을 수 있다.
np.array([11,22,33,44])[..., np.newaxis]

array([[11],
       [22],
       [33],
       [44]])

### insert

In [85]:
print(a.shape)
a

(3,)

array([0, 1, 2])

In [86]:
# 배열, index, 값
# 원본 안 바뀜.
np.insert(a,0,100)

array([100,   0,   1,   2])

In [88]:
np.insert(a,1,1000)

array([   0, 1000,    1,    2])

In [90]:
# 하나의 index에 여러개의 값 삽입 가능. 리스트로 묶어주기
np.insert(a,0, [100,200,300])

array([100, 200, 300,   0,   1,   2])

In [91]:
# 여러 index에 값들을 삽입 가능.
np.insert(a,[0,2],[1000,2000])

array([1000,    0,    1, 2000,    2])

In [92]:
# 여러 index에 동일한 값을 삽입 가능
np.insert(a,[0,2], 5000)

array([5000,    0,    1, 5000,    2])

In [93]:
# 다차원 배열 insert
a2

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [95]:
# axis를 지정 안 하면 => flatten(1차원으로 변경) 후에 insert
np.insert(a2,2,10000)

array([    0,     1, 10000,     2,     3,     4,     5,     6,     7,
           8,     9,    10,    11])

In [97]:
# append는 한개든, 여러 개 넣을 list로 묶어줘야 했다.
# insert는 한개면 안 묶어도 되는데 묶어도 되니 그냥 묶어도됨

np.insert(a2,2,[10,20,30], axis = 0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [10, 20, 30],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [98]:
np.insert(a2,2,[[10,20,30]], axis = 0)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [10, 20, 30],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [99]:
np.insert(a2,2,[[10,20,30], [100,200,300]], axis = 0)

array([[  0,   1,   2],
       [  3,   4,   5],
       [ 10,  20,  30],
       [100, 200, 300],
       [  6,   7,   8],
       [  9,  10,  11]])

In [103]:
# 수직방향으로 하나씩 들어가도 하나의 리스트에 묶어서 넣는다.
# append와 문법이 다름.
np.insert(a2,
         2,
         [[1,2,3,4]],
         axis=1)

array([[ 0,  1,  1,  2],
       [ 3,  4,  2,  5],
       [ 6,  7,  3,  8],
       [ 9, 10,  4, 11]])

In [104]:
# [[inset할 데이터 셋]] 을 리스트에 다 넣어 줘야 한다.
np.insert(a2,
         2,
         [[1,2,3,4],[10,20,30,40]],
         axis=1)

array([[ 0,  1,  1, 10,  2],
       [ 3,  4,  2, 20,  5],
       [ 6,  7,  3, 30,  8],
       [ 9, 10,  4, 40, 11]])

In [105]:
# 동일한 값을 insert할 경우 정수로 지정
np.insert(a2, 1, 10, axis = 0)

array([[ 0,  1,  2],
       [10, 10, 10],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [106]:
# 동일한 값을 insert할 경우 정수로 지정
np.insert(a2, 1, 10, axis = 1)

array([[ 0, 10,  1,  2],
       [ 3, 10,  4,  5],
       [ 6, 10,  7,  8],
       [ 9, 10, 10, 11]])

In [108]:
# 동일한 값을 insert할 경우 정수로 지정
np.insert(a2, 2, [[1],[2]], axis = 1)

array([[ 0,  1,  1,  2,  2],
       [ 3,  4,  1,  2,  5],
       [ 6,  7,  1,  2,  8],
       [ 9, 10,  1,  2, 11]])

### delete

In [111]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [113]:
# 배열, index
# 원본 삭제 아님
np.delete(a,0)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [114]:
# 한번에 여러 index의 값을 삭졔
np.delete(a, [0,3,4])

array([1, 2, 5, 6, 7, 8, 9])

In [116]:
# 특정 범위의 index에 있는 값들을 삭제할 때 = > slicing 이용해서 index 범위를 지정
# slicing 문법: 배열[start:stop:step] => 배열의 값을 조회 => 조회된 값의 index의 값을 삭제해라

# 여기 안에는 인덱스가 들어가야 한다.
# np.s_[start:stop:step] : slicing (문법) 객체를 생성. 범위의 인덱스를 만들어준다.

np.delete(a, np.s_[2:6])

array([0, 1, 6, 7, 8, 9])

In [115]:
np.s_[1:10:2]

slice(1, 10, 2)

In [117]:
# 다차원 배열에서 원소 삭제
# 행 또는 열 단위로 전체 삭제된다. (원소 갯수가 달라지므로)
# axis를 지정 (기본 -flatten 후에 삭제)
np.delete(a2,2)

array([ 0,  1,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [119]:
a2

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [120]:
r = np.delete(a2,1,axis=0)

print(a2.shape, r.shape)
r

(4, 3) (3, 3)

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [121]:
r = np.delete(a2,[0,2],axis=0)

print(a2.shape, r.shape)
r

(4, 3) (2, 3)

array([[ 3,  4,  5],
       [ 9, 10, 11]])

In [122]:
r = np.delete(a2,2,axis=1)

print(a2.shape, r.shape)
r

(4, 3) (4, 2)

array([[ 0,  1],
       [ 3,  4],
       [ 6,  7],
       [ 9, 10]])

In [124]:
r = np.delete(a2,np.s_[:2],axis=1)

print(a2.shape, r.shape)
r

(4, 3) (4, 1)

array([[ 2],
       [ 5],
       [ 8],
       [11]])

## 배열 합치기
- ### np.concatenate(합칠 배열리스트, axis=0)
    - 여러 배열을 **축의개수(rank)**를 유지하며 합친다. = >같은 rank(차원끼리만 합칠 수 잇다.
    - axis 파라미터 : 축지정
        - 지정된 축을 기준으로 합친다. 
        - default : 0
        - 여러 개의 축을 지정할 수 없다.
    - 합치는 배열의 축의 개수(rank) 은 같아야 한다.
        - 1차원 2차원 못 합침.
    - **axis속성으로 지정한 축 이외의 축의 크기가 같아야 한다.**
        - (2,3,4) (2,5,4) axis=1 만을 합칠 수 있다.
    - 결과의 축의개수(rank)는 대상 배열의 rank와 같다.
        - 2차원끼리 합치면 2차원결과가 나옴(size가 커지지 차원이 달라지는 게 아님.)
- ### 합칠 대상 배열의 rank가 2일(2차원) 경우(행렬) 
    - vstack() : vertical
    - hstack() : horizontal
    - np.concatenate()의 간단버전
- ### vstack(합칠배열리스트)
    - 수직으로 쌓는다.
    - concatenate() 의 axis=0 와 동일
    - **합칠 배열들의 열수가 같아야 한다.**
- ### hstack(합칠배열리스트)
    - 수평으로 쌓는다.
    - concatenate() 의 axis=1 와 동일
    - **합칠 배열들의 행 수가 같아야 한다.**

### concatenate()

- axis=0 이면 0이 늘어난다. 0을 기준으로 합치므로 (그래서 밑으로 (행이 늘어남)붙는다.)
    - 그래서 각 배열의 컬럼 수가 같아야 한다. 
- axis=1 이면 1이 늘어난다. 1을 기준으로 합치므로 (그래서 옆으로 (컬럼이 늘어남) 붙는다.)
    - 그래서 각 배열의 행수가 같아야 한다.
    

- 합치는 축을 제외한 나머지 축의 size가 서로 동일해야 한다.
- 합칠 수 있는 지 없는 지를 그림으로 생각하면 쉬움.

In [131]:
a = np.arange(10)
b = np.arange(100,110)
c = np.arange(1000,1005)
print(a.shape, b.shape, c.shape)

# 합치는 기준을 제외한 축이 같아야 하는 것이니, 합치는 축이 달라도 당연히 됨.

(10,) (10,) (5,)

In [132]:
# 1차원 배열들을 합치기 - > axis : 0 뿐이다. => 합치는 기준은 0 

r = np.concatenate([a,b,c])
print(r.shape)
r

(25,)

array([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,  100,
        101,  102,  103,  104,  105,  106,  107,  108,  109, 1000, 1001,
       1002, 1003, 1004])

In [134]:
# 2차원 배열 -> axis : 0, 1
a = np.arange(12).reshape(4,3)
b = np.arange(100,112).reshape(4,3)
print(a.shape, b.shape)

(4, 3) (4, 3)

In [138]:
r = np.concatenate([a,b]) # axis = 0
print(r.shape) #(8,3)
r

(8, 3)

array([[  0,   1,   2],
       [  3,   4,   5],
       [  6,   7,   8],
       [  9,  10,  11],
       [100, 101, 102],
       [103, 104, 105],
       [106, 107, 108],
       [109, 110, 111]])

In [140]:
r = np.concatenate([b,a], axis = 1)
print(r.shape) # (4,6)
r

(4, 6)

array([[100, 101, 102,   0,   1,   2],
       [103, 104, 105,   3,   4,   5],
       [106, 107, 108,   6,   7,   8],
       [109, 110, 111,   9,  10,  11]])

In [141]:
c= np.arange(6).reshape(2,3)
print(a.shape, b.shape, c.shape)

(4, 3) (4, 3) (2, 3)

In [147]:
# 배열 a 와 c를 합치기 - > axis = 0 만이 가능. 1하면 valueError
r = np.concatenate([a,c], axis=0)
print(r.shape)
r

# 합치는 기준축을 제외한 나머지 축의 size는 같아야 한다.

(6, 3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [ 0,  1,  2],
       [ 3,  4,  5]])

In [157]:
# 3차원 : axis - 0, 1, 2
x = np.arange(3*5*5).reshape(3,5,5)
y = np.arange(100,175).reshape(3,5,5)
print(x.shape, y.shape)
y

(3, 5, 5) (3, 5, 5)

array([[[100, 101, 102, 103, 104],
        [105, 106, 107, 108, 109],
        [110, 111, 112, 113, 114],
        [115, 116, 117, 118, 119],
        [120, 121, 122, 123, 124]],

       [[125, 126, 127, 128, 129],
        [130, 131, 132, 133, 134],
        [135, 136, 137, 138, 139],
        [140, 141, 142, 143, 144],
        [145, 146, 147, 148, 149]],

       [[150, 151, 152, 153, 154],
        [155, 156, 157, 158, 159],
        [160, 161, 162, 163, 164],
        [165, 166, 167, 168, 169],
        [170, 171, 172, 173, 174]]])

In [153]:
# axis = 0
r = np.concatenate([x,y]) # axis = 0
print(r.shape)
r

(6, 5, 5)

array([[[  0,   1,   2,   3,   4],
        [  5,   6,   7,   8,   9],
        [ 10,  11,  12,  13,  14],
        [ 15,  16,  17,  18,  19],
        [ 20,  21,  22,  23,  24]],

       [[ 25,  26,  27,  28,  29],
        [ 30,  31,  32,  33,  34],
        [ 35,  36,  37,  38,  39],
        [ 40,  41,  42,  43,  44],
        [ 45,  46,  47,  48,  49]],

       [[ 50,  51,  52,  53,  54],
        [ 55,  56,  57,  58,  59],
        [ 60,  61,  62,  63,  64],
        [ 65,  66,  67,  68,  69],
        [ 70,  71,  72,  73,  74]],

       [[100, 101, 102, 103, 104],
        [105, 106, 107, 108, 109],
        [110, 111, 112, 113, 114],
        [115, 116, 117, 118, 119],
        [120, 121, 122, 123, 124]],

       [[125, 126, 127, 128, 129],
        [130, 131, 132, 133, 134],
        [135, 136, 137, 138, 139],
        [140, 141, 142, 143, 144],
        [145, 146, 147, 148, 149]],

       [[150, 151, 152, 153, 154],
        [155, 156, 157, 158, 159],
        [160, 161, 162, 163, 164],
        [165, 166, 167, 168, 169],
        [170, 171, 172, 173, 174]]])

In [154]:
# axis = 1
r = np.concatenate([x,y], axis = 1)
print(r.shape)
r

(3, 10, 5)

array([[[  0,   1,   2,   3,   4],
        [  5,   6,   7,   8,   9],
        [ 10,  11,  12,  13,  14],
        [ 15,  16,  17,  18,  19],
        [ 20,  21,  22,  23,  24],
        [100, 101, 102, 103, 104],
        [105, 106, 107, 108, 109],
        [110, 111, 112, 113, 114],
        [115, 116, 117, 118, 119],
        [120, 121, 122, 123, 124]],

       [[ 25,  26,  27,  28,  29],
        [ 30,  31,  32,  33,  34],
        [ 35,  36,  37,  38,  39],
        [ 40,  41,  42,  43,  44],
        [ 45,  46,  47,  48,  49],
        [125, 126, 127, 128, 129],
        [130, 131, 132, 133, 134],
        [135, 136, 137, 138, 139],
        [140, 141, 142, 143, 144],
        [145, 146, 147, 148, 149]],

       [[ 50,  51,  52,  53,  54],
        [ 55,  56,  57,  58,  59],
        [ 60,  61,  62,  63,  64],
        [ 65,  66,  67,  68,  69],
        [ 70,  71,  72,  73,  74],
        [150, 151, 152, 153, 154],
        [155, 156, 157, 158, 159],
        [160, 161, 162, 163, 164],
        [165, 166, 167, 168, 169],
        [170, 171, 172, 173, 174]]])

In [155]:
# axis = 2
r = np.concatenate([x,y], axis = 2)
print(r.shape)
r

(3, 5, 10)

array([[[  0,   1,   2,   3,   4, 100, 101, 102, 103, 104],
        [  5,   6,   7,   8,   9, 105, 106, 107, 108, 109],
        [ 10,  11,  12,  13,  14, 110, 111, 112, 113, 114],
        [ 15,  16,  17,  18,  19, 115, 116, 117, 118, 119],
        [ 20,  21,  22,  23,  24, 120, 121, 122, 123, 124]],

       [[ 25,  26,  27,  28,  29, 125, 126, 127, 128, 129],
        [ 30,  31,  32,  33,  34, 130, 131, 132, 133, 134],
        [ 35,  36,  37,  38,  39, 135, 136, 137, 138, 139],
        [ 40,  41,  42,  43,  44, 140, 141, 142, 143, 144],
        [ 45,  46,  47,  48,  49, 145, 146, 147, 148, 149]],

       [[ 50,  51,  52,  53,  54, 150, 151, 152, 153, 154],
        [ 55,  56,  57,  58,  59, 155, 156, 157, 158, 159],
        [ 60,  61,  62,  63,  64, 160, 161, 162, 163, 164],
        [ 65,  66,  67,  68,  69, 165, 166, 167, 168, 169],
        [ 70,  71,  72,  73,  74, 170, 171, 172, 173, 174]]])

### vstack()
- 아래에 붙이는 개념이므로 열수가 맞아야 한다. 
- axis=0과 동일

In [161]:
a.shape, b.shape

((4, 3), (4, 3))

In [160]:
r = np.vstack([a,b])
print(r.shape)
r

(8, 3)

array([[  0,   1,   2],
       [  3,   4,   5],
       [  6,   7,   8],
       [  9,  10,  11],
       [100, 101, 102],
       [103, 104, 105],
       [106, 107, 108],
       [109, 110, 111]])

### hstack()
- 옆으로 붙이는 것이므로 행 수가 같아야 한다.
- axis=1과 동일

In [162]:
r = np.hstack([a,b])
print(r.shape)
r

(4, 6)

array([[  0,   1,   2, 100, 101, 102],
       [  3,   4,   5, 103, 104, 105],
       [  6,   7,   8, 106, 107, 108],
       [  9,  10,  11, 109, 110, 111]])

## 배열 분할 하기
- ### split(배열, 분할기준, axis=0)
    - 지정한 축을 기준으로 배열을 나눈다.. 
    - 반환값: 분할한 narray를 가진 리스트로 리턴.
    - 배열: 분할할 배열
    - 분할기준
        - 정수 : 지정 개수만큼 분할 (동일간격으로 n등분)
        - 리스트 : 분할 기준 index들
    - axis(축)
        - 분할할 기준 축을 지정한다. axis = 0 (기본) 
        - 2D의 경우 axis=0: 행 기준 분할, axis=1: 열 기준 분할


- 2차원용
- ### vsplit(배열, 분할기준)
    - 행 기준 분할
    - split()의 axis=0과 동일
    - 분할기준
        - 정수 : 지정 개수만큼 분할
        - 리스트 : 분할 기준 index들
- ### hsplit(배열, 분할기준)
    - 열 기준 분할
    - split()의 axis=1과 동일
    - 분할기준
        - 정수 : 지정 개수만큼 분할
        - 리스트 : 분할 기준 index들
        
        
- **주의: 분할기준을 정수(개수)로 할 경우 분할후 원소수가 같아야 한다.**
    - (10,9)을 4로 나누면? (10,2)(10.2)(10.2)(10,3) 이건 오류 axis 1 의 size가 다르다.

In [164]:
a = np.arange(10)
a.shape

(10,)

In [167]:
# 정수 : 동일한 간격으로
# a 배열을 동일한 크기의 두개 배열로 나눠라.
r = np.split(a,2)
print(type(r)) # 나눈 두 개의 배열을 리스트에 묶어서 반환
r

<class 'list'>

[array([0, 1, 2, 3, 4]), array([5, 6, 7, 8, 9])]

In [168]:
# 리스트 대입으로 넣기
r1, r2 = np.split(a,2)
r1.shape, r2.shape

((5,), (5,))

In [170]:
print(a)
print(r1)
print(r2)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4]
[5 6 7 8 9]

In [171]:
# (4,), (4,) (2,) = > size가 다르게 된다. = > 개수로 분할이 안된다.
r = np.split(a,3)

ValueError: array split does not result in an equal division

In [172]:
# 리스트 : 분할 기준 인덱스
# 지정한 index 앞에서 나눈다.
r1,r2,r3 = np.split(a, [3,7])
print(r1.shape, r2.shape, r3.shape)

(3,) (4,) (3,)

In [173]:
print(r1)
print(r2)
print(r3)

[0 1 2]
[3 4 5 6]
[7 8 9]

In [174]:
x = np.arange(42).reshape(6,7)
print(x.shape)
x

(6, 7)

array([[ 0,  1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12, 13],
       [14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39, 40, 41]])

In [180]:
# axis = 0
r1,r2 = np.split(x, 2)
print(r1.shape, r2.shape)

print(r1)
print('-'*25)
print(r2)

(3, 7) (3, 7)
[[ 0  1  2  3  4  5  6]
 [ 7  8  9 10 11 12 13]
 [14 15 16 17 18 19 20]]
-------------------------
[[21 22 23 24 25 26 27]
 [28 29 30 31 32 33 34]
 [35 36 37 38 39 40 41]]

In [181]:
# axis = 1 하면 원소수가 다르게 등분됨. error
r1,r2 = np.split(x, 2, axis=1)
print(r1.shape, r2.shape)

print(r1)
print('-'*25)
print(r2)

ValueError: array split does not result in an equal division

In [182]:
# axis = 1 에 list 로 등분
r1,r2 = np.split(x, [3], axis=1)
print(r1.shape, r2.shape) #(6,3) (6,4)

print(r1)
print('-'*25)
print(r2)

(6, 3) (6, 4)
[[ 0  1  2]
 [ 7  8  9]
 [14 15 16]
 [21 22 23]
 [28 29 30]
 [35 36 37]]
-------------------------
[[ 3  4  5  6]
 [10 11 12 13]
 [17 18 19 20]
 [24 25 26 27]
 [31 32 33 34]
 [38 39 40 41]]

## hsplit()/vsplit()
- 2차원 배열을 분할

In [185]:
x

array([[ 0,  1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12, 13],
       [14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39, 40, 41]])

In [183]:
# axis = 1  열단위로 쪼개짐
# 2차원수평방향쪼개기

r1, r2, r3 = np.hsplit(x, [3,5]) 
print(r1.shape, r2.shape, r3.shape)

(6, 3) (6, 2) (6, 2)

In [184]:
r1,r2,r3 = np.vsplit(x, [2,4])
print(r1.shape, r2.shape, r3.shape)

(2, 7) (2, 7) (2, 7)